force-app/main/default/flows/Screen_Flow_Export_Books.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Export_List_of_Books</name>
        <label>Export List of Books</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:OpenURLFlowAction</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>URL</name>
            <value>
                <elementReference>f_Export_Books_Report</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BrowserMode</name>
            <value>
                <stringValue>Sametab</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURLFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>f_Export_Books_Report</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_590}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_590}))+&apos;/&apos;+&apos;servlet/PrintableViewDownloadServlet?isdtp=p1&amp;reportId=&apos;+{!Get_Report_ID.Id}+&apos;&amp;detailsOnly=true&apos;</expression>
    </formulas>
    <interviewLabel>Screen Flow Export Books {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow Export Books</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Report_ID</name>
        <label>Get Report ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Export_List_of_Books</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authors_with_Books_Report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Report_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
